<form>
  <button type="button" class="unique">Add to cart</button>
</form>

<script>
  let button = document.querySelector('.unique');

  button.addEventListener('click', (e) => {
    console.log("Button clicked, no redirect 🚀");
  });
</script>
