<div class="dev">
  <p>{{ section.settings.r1 }}</p>
</div>

{% schema %}
  {
    "name": "CUSTOME SECTION",
    "settings": [
      {
        "type": "text",
        "id": "r1",
        "label": "custom"
      }
    ],
    "presets": [
      {
        "name": "CUSTOME SECTION"
      }
    ]
  }
{% endschema %}